# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
_site/404.html
_site/feed.xml
_site/hints.txt
_site/index.html
_site/sitemap.xml
_site/Projects/index.html
_site/about/index.html
_site/blog/index.html
_site/category/jekyll.html
_site/category/others.html
_site/resume/index.html
_site/scrum/2016/01/08/done-done.html
_site/talks/index.html
_site/transformation,/agile/2016/03/04/were-brand-new-to-scrum.html
_site/transformation,/agile/2016/03/10/how-your-team-will-be-impacted-by-agile-transformation.html
_site/404.html
_site/CNAME
_site/feed.xml
_site/index.html
_site/sitemap.xml
_site/Projects/index.html
_site/about/index.html
_site/blog/index.html
_site/category/jekyll.html
_site/category/others.html
_site/resume/index.html
_site/scrum/2016/01/08/done-done.html
_site/talks/index.html
_site/transformation,/agile/2016/03/04/were-brand-new-to-scrum.html
_site/transformation,/agile/2016/03/10/how-your-team-will-be-impacted-by-agile-transformation.html
_site/feed.xml
_site/sitemap.xml
_site/resume/index.html
